<div class="container-fluid">
    <div class="row">
        <div class="col-xl-2 col-md-4">
            <H1 class="text-white mb-4">Quản lý</H1>
            <div class="card bg-primary text-white">
                <button type="button" class="btn btn-primary btn-lg"><a class="text-white" href="/home">Bàn</a></button>
            </div>
            <div class="card bg-primary text-white">
                <button type="button" class="btn btn-primary btn-lg"><a class="text-white" href="/order">Đơn đặt bàn</a>
                </button>
            </div>
            <div class="card bg-primary text-white">
                <button type="button" class="btn btn-primary btn-lg"><a class="text-white" href="/category">Thể loại</a>
                </button>
            </div>
            <div class="card bg-primary text-white">
                <button type="button" class="btn btn-primary btn-lg"><a class="text-white" href="/dish">Món ăn</a>
                </button>
            </div>
            <div class="card bg-primary text-white">
                <button type="button" class="btn btn-primary btn-lg"><a class="text-white" href="/notification">Thông
                    báo</a>
                </button>
            </div>
            <div class="card bg-primary text-white">
                <button type="button" class="btn btn-primary btn-lg"><a class="text-white" href="#">Thống kê</a>
                </button>
            </div>
            <div class="card bg-primary text-white">
                <button type="button" class="btn btn-danger btn-lg"><a class="text-white" href="/employeeAccount">Tài
                    khoản nhân viên</a></button>
            </div>
        </div>
        <div class="col-xl-10 col-md-4">
            <div class="container-fluid mt-5">
                <div class="card mb-4">
                    <div class="card-header">
                        Danh sách món ăn
                        <button type="button" class="btn btn-primary btn float-right"><a class="text-white"
                                                                                         href="/employeeAccount/addAccount">Thêm
                            tài khoản</a></button>
                    </div>
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <!--                            <th scope="col">Stt</th>-->
                            <th scope="col">Họ tên nhân viên</th>
                            <th scope="col">Ngày sinh</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Username</th>
                            <th scope="col">Password</th>
                            <th scope="col">Chỉnh sửa</th>
                            <th scope="col">Xóa</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each account}}
                            <tr>
                                <td>{{this.staffsname}}</td>
                                <td>{{this.age}}</td>
                                <td>{{this.address}}</td>
                                <td>{{this.username}}</td>
                                <td>{{this.password}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
